<div class="container">
  
  <div class="header">
    <h2> Liste des livres</h2>
    <a routerLink="/add" class="btn btn-primary"> Ajouter</a>
  </div>

  @if (loading) {
    <div class="loading">
      <div class="spinner"></div>
      <p>Chargement des livres...</p>
    </div>
  }

  @if (errorMessage) {
    <div class="error">
      {{ errorMessage }}
    </div>
  }

  @if (!loading && books.length === 0) {
    <div class="empty">
      <h4>Aucun livre</h4>
      <p>La bibliothèque est vide.</p>
    </div>
  }

  @if (!loading && books.length > 0) {
    <div class="book-grid">
      @for (book of books; track book.id) {
        <div class="book-card">

       @if (book.imageUrl) {
        <img [src]="book.imageUrl" 
            [alt]="book.title" 
            class="card-img-top"
            style="max-height: 180px; object-fit: cover;">
      }    

          <div class="book-content">
            
            <div class="book-header">
              <h3>{{ book.title }}</h3>
              <span class="stock-badge" [class.in-stock]="book.stock > 0">
                {{ book.stock > 0 ? 'Disponible' : 'Indisponible' }}
              </span>
            </div>

            <div class="book-info">
              <p><strong>Auteur :</strong> {{ book.author }}</p>
              <p><strong>ISBN :</strong> {{ book.isbn }}</p>
              <p><strong>Genre :</strong> {{ book.genre }}</p>
              <p><strong>Stock :</strong> {{ book.stock }} exemplaire(s)</p>
            </div>

            @if (book.synopsis) {
              <div class="synopsis">
                <strong>Synopsis :</strong>
                <p>{{ book.synopsis }}</p>
              </div>
            }

            <div class="book-actions">
             <!--  <a [routerLink]="['/edit', book.id]" class="btn-edit"> Modifier</a> -->
             <!--  <button (click)="deleteBook(book.id!)" class="btn-delete">Supprimer</button> -->
            </div>

          </div>
        </div>
      }
    </div>
  }
</div>